CompileFlags:
  Add:
    - "-I/opt/homebrew/opt/gcc/include/c++/15.2.0"
    - "-I/opt/homebrew/opt/gcc/include/c++/15.2.0/aarch64-apple-darwin25"
    - "-I/opt/homebrew/opt/gcc/include/c++/15.2.0/backward"
Diagnostics:
  MissingIncludes: Strict
